<!doctype html>
<html>
    <head>
	    <title>Demo Page</title>
	    
	    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.css">
	    <link rel="stylesheet" href="/stylesheets/app.css">
	    
    </head>
    
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item"><i class="paper plane icon"></i>Blog Site</div>
                <a href="/" class="item">Home</a>
                <a href="/blogs/new" class="item">New Post</a>
                
                <div class="right menu">
                    <% if(!currentUser) { %>
                        <a href="/login" class="item">Login</a>
                        <a href="/register" class="item">Sign Up</a>
                    <%} else { %>
                        <a href="#" class="item">Signed in as <%= currentUser.username %></a>
                        <a href="/logout" class="item">Logout</a>
                    <% } %>
                 </div>

                
            </div>
           
        </div>       
        
        

    <div class="flash-message-container">
        <% if (error.length > 0) { %>
        <div class="ui message orange">
            <div class="header">
                <%= error %>
            </div>  
        </div>
        <% } else if (success.length > 0) { %>

        <div class="ui message green">
            <div class="header">
                <%= success %>
            </div>  
        </div>
        <% } %>  
    </div>
         
        
       