<% include ./partials/header %>



<div class="ui main text container segment" id="register-form-container">
	<div class="ui medium header">Sign up</div>
		<form class="ui form" action="/register" method="POST">
		  <div class="field">
		    <label>Username</label>
		    <input type="text" name="username" placeholder="username">
		  </div>
		  <div class="field">
		    <label>Password</label>
		    <input type="password" name="password" placeholder="username">
		  </div> 
		  <button class="ui button" type="submit">Sign up</button>
		</form>
	</div>
</div>

<% include ./partials/footer %>

